{% extends 'base.html' %}

{% block title %}
User Filter
{% endblock%}

{% block extra_css %}
<style>
    .user-list li.hide {
        display: none;
    }

    .user-list {
        background-color: #fff;
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 400px;
        overflow-y: auto;
    }
</style>

{% endblock %}

{% block content %}
<div class="container">

    <!--header-->
    <header class="header">
        <h4 class="title">User filter</h4>
        <small class="subtitle">search by name and/or location</small>
    </header>
    <input type="text" id="filter" placeholder="Search">

    <!--list of users-->
    <ul id="result" class="user-list">
        <li>loading ... </li>
    </ul>
</div>
{% endblock %}



{% block extra_js %}
<script>
    const result = document.getElementById('result');
    const filter = document.getElementById('filter');
    const listItems = [];

    getData()

    filter.addEventListener('input', (e)=> filterData(e.target.value));

    //get data from api or create your own data
    async function getData() {
        /*
        const results = [
            {
                picture: { large: 'https://via.placeholder.com/150' },
                name: { first: 'John', last: 'Doe' },
                location: { city: 'New York', country: 'USA' },
            },
            {
                picture: { large: 'https://via.placeholder.com/150' },
                name: { first: 'Jane', last: 'Smith' },
                location: { city: 'London', country: 'UK' },
            },
            {
                picture: { large: 'https://via.placeholder.com/150' },
                name: { first: 'Alice', last: 'Johnson' },
                location: { city: 'Paris', country: 'France' },
            },
        ];
        */
        
        const res = await fetch('https://randomuser.me/api?results=50')
        const { results } = await res.json()

        result.innerHTML = '';

        results.forEach(user => {
            const li = document.createElement('li');
            listItems.push(li);
            li.innerHTML = `
            <img src="${user.picture.large}" alt="${user.name.first}">
            <div class="user-info">
                <h4>${user.name.first} ${user.name.last}</h4>
                <p>${user.location.city}, ${user.location.country}</p>
            </div>
            `;
            result.appendChild(li);
        } )
        
    }

    //apply filter, use the text inside the box
    function filterData(searchTerm) {
        listItems.forEach(item => {
            if (item.innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                item.classList.remove('hide');
            }
            else {
                item.classList.add('hide');
            }
        });
    }

</script>
{% endblock %}